*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Khula', sans-serif;
}

ul {
    list-style: none;
}

.logo {
    position: absolute;
    padding: 32px 80px;
}

nav {
    position: relative;
    top: 0;
    left: 352px;
    width: 700px;

}

nav ul {
     display: inline-block;
     padding: 32px 80px;
    
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}


nav a {
     color: #000000; /*cor do teto*/
     font-size: 20px;
     text-decoration: none; /* tira a decoração padrão do lik, sulinhado*/
}

.botao-procurar {
    position: absolute;
    display: inline-block;
    padding: 32px 24px 20px 50px;
}

.botao-carrinho {
    position: absolute;
    display: inline-block;
    padding: 20px 72px 20px 287px;
}

.ultra-ligth {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 91px 0px 0px 80px;
}

.ultra-tennis {
    display: inline-block;
    width: 40%;
    padding: 91px 0px 0px 0px;
}

.leveza-agilidade {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.img-leveza {
    display: inline-block;
    width: 40%;
}

.img-amortecimento {
    display: inline-block;
    width: 40%;
}

.texto-amortecimento {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.conteiner {
    width: 100%;
    margin: auto;
    position: relative;
    
}

.conteiner img {
    width: 100%;
}

.topoEsquerda {
    position: absolute;
    font-size: 50px;
    color: white;
    top: 0;
    left: 0;
    text-align: center;
    padding: 10px;
}
